<!DOCTYPE html>
<html
  lang="en"
  style="color-scheme: dark">
<head>
  <meta charset="UTF-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0" />
  <title>Express API</title>
  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
/>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <link
    rel="stylesheet"
    href="/css/style.css" />

    <!-- import global js -->
    <script src="/js/main.js" defer></script>
</head>
<header>
  <!-- exige os is isAuthenticated -->
<% if (typeof isAuthenticated === 'undefined') { %>
  <% let isAuthenticated = false %>
<% } %>

<nav class="nav">
  <div class="topmenu">
    <a href="/">Home</a>
  <% if (!isAuthenticated) { %>
    <a href="/login">Sign in</a>
    <% } %> <% if (isAuthenticated) { %> 
      
      <a href="/dashboard">Dashboard</a>
      <a href="/logout">sign out</a>
   <% } %>
  </div>
</nav>
</header>