<!DOCTYPE html>
<html
  lang="en"
  style="color-scheme: dark">
<head>
  <meta charset="UTF-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0" />
  <title>Express API</title>

  <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
/>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <link
    rel="stylesheet"
    href="/css/style.css" />
    <!-- import global js -->
    <script src="/js/main.js" defer></script>
</head>
<body>
<header>
  <!-- exige os is isAuthenticated -->
<% if (typeof isAuthenticated === 'undefined') { %>
  <% let isAuthenticated = false %>
<% } %>

<nav class="nav">
  <div class="topmenu">
   <span>
    <a href="/">Home<i class='bx bxs-home' ></i></a>
    <a href="/products/search/category">Categorias</a>
   </span>
<span>
  <% if (!isAuthenticated) { %>
    <a href="/login">Sign in <i class='bx bxs-user' ></i></a>
    <% } %> <% if (isAuthenticated) { %> 

      <a href="/dashboard">Dashboard</a>
      <a href="/logout">Sign out<i class='bx bx-log-out' ></i></a>
   <% } %>
</span>
  </div>
</nav>
</header>