

    <%- include('./partials/Header', { isAuthenticated: isAuthenticated }); %>

    <main class="dashboardcreate">
      <h2>Create New Product</h2>
      <form
        id="formCreate"
        method="POST">
    <div>
      Name:
      <input
      name="name"
      type="text"
      required
      placeholder="produto" />
    </div>
      <div>
        Price:
        <input
        name="price"
        type="number"
        required
        placeholder="price" />
      </div>
      <div>
        content:
        <textarea name="bodyContent" id="" cols="60" rows="10"></textarea>
      </div>
       <div class="formOptions">
         <span>
           <label for="selectCat">Category:</label>
           <select name="category" id="selectCat">
             <% for(const cat of allcats) { %>
              <option value="<%= cat %>" name="<%= cat %>"><%= cat %></option>
              <% } %>
            </select>
          </span>
          <span>
            <input name="checked" type="checkbox" id="published">
            <label for="published">published</label>
          </span>
       </div>
      
       <div>
        <input
        class="button primary"
        type="submit"
        value="Create" />
       </div>
      </form>
    </main>

    <script src="../js/dashboard.js"></script>
  </body>
</html>
