
    <%- include('./partials/Header', { isAuthenticated: auth }); %>

    <main>
      BASEURL:
      <a
        id="base"
        target="_blank"></a>
      <section id="productsCards"></section>
    </main>

    <script src="./js/home.js"></script>
    <script src="./js/copyid.js"></script>
  </body>
</html>
