
    <%- include('./partials/Header', { isAuthenticated: auth }); %>

    <main>
    <!--   BASEURL:
      <a
        id="base"
        target="_blank"></a> -->
      <section id="productsCards"></section>
    </main>
    <p data-baseurl="<%= BASEURL %>"></p>

    <script src="./js/home.js"></script>
    <script src="./js/copyid.js"></script>
    <%- include('./partials/Footer'); %>