<!DOCTYPE html>
<html
  lang="en"
  style="color-scheme: dark">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <title>Express API</title>
    <link
      rel="stylesheet"
      href="/public/css/style.css" />
  </head>
  <body>
    <header>
      <%- include('navbar', { isAuthenticated: auth }); %>
      <h2><%= header %></h2>
       <!--  <p>isAuthenticated?: <%= // auth %></p> -->
    </header>

    <section id="productsCards"></section>

    <div class="container"></div>
    <p>
      check console.log after click
      <button onclick="tryFetchLocalHost()">try fetch posts by localhost url</button>
    </p>

    BASEURL:
    <a
      id="base"
      target="_blank"></a>

    <h2>fetch content from Node Server</h2>

    <script src="./js/home.js"></script>
    <script src="../public/js/copyid.js"></script>
  </body>
</html>
