<!DOCTYPE html>
<html lang="en" style="color-scheme: dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    BASEURL: <a id="base" target="_blank">http://localhost:3001/products</a>
    <h2>Method: POST</h2>
    <form id="mform">
      <input name="name" type="text" placeholder="produto" />
      <input name="price" type="number" placeholder="price" />
      <input type="submit" value="Send" />
    </form>

    <hr />

    <h2>Method: Delete</h2>
    <form id="mformdel">
      <input name="id" type="text" placeholder="id" />
      <input type="submit" value="Send" />
    </form>

    <hr />

    <h2>Method: PUT</h2>
    <form id="mformPU">
      <input name="id" type="text" placeholder="id" />
      <input name="name" type="text" placeholder="produto" />
      <input name="price" type="number" placeholder="price" />
      <input type="submit" value="Send" />
    </form>
    <hr />
    <h2>Method: GET</h2>
    <form id="mformGet">
      <input name="id" type="text" placeholder="id" />
      <input type="submit" value="Send" />
    </form>
    <a href="" id="get" target="_blank"></a>

    <hr />
    <h2>e.g fetch content from Node Server</h2>
    <div id="root"></div>

    <div class="container"></div>
    <div id="id"></div>
  </body>
  <script>
    //define BASE_url
    //const baseURL = "https://expressjsonrocket.onrender.com/products/";
    const baseURL = "http://localhost:3001/products/";
    const baseHome = baseURL + "products";
    document.getElementById("base").href = baseHome;
    document.getElementById("base").innerHTML = baseHome;

    //post
    const form = document.querySelector("#mform");
    form.onsubmit = function (event) {
      //event.preventDefault();
      const ajaxn = new XMLHttpRequest();
      const data = new FormData(form);
      ajaxn.open("POST", baseURL);
      ajaxn.setRequestHeader("content-Type", "application/json");
      const json = JSON.stringify(Object.fromEntries(data));
      ajaxn.send(json);
      if (ajaxn.readyState == XMLHttpRequest.DONE) {
        form.reset();
      }
    };
    // DELETE
    const formdel = document.querySelector("#mformdel");

    formdel.onsubmit = function (event) {
      const ajaxn = new XMLHttpRequest();
      const data = new FormData(formdel);
      console.log(data.get("id"));

      ajaxn.open("DELETE", baseURL + data.get("id"));
      ajaxn.setRequestHeader(
        "Content-type",
        "application/x-www-form-urlencoded"
      );
      ajaxn.send();
      if (ajaxn.readyState == XMLHttpRequest.DONE) {
        form.reset();
      }
    };

    // PUT

    const formPU = document.querySelector("#mformPU");
    formPU.onsubmit = function (event) {
      event.preventDefault();
      const ajaxn = new XMLHttpRequest();
      const data = new FormData(formPU);
      console.log(data.get("id"));
      ajaxn.open("PUT", baseURL + data.get("id"));
      ajaxn.setRequestHeader("content-Type", "application/json");
      const json = JSON.stringify(Object.fromEntries(data));
      ajaxn.send(json);
    };

    //GET
    const formGet = document.querySelector("#mformGet");
    formGet.onclick = function (event) {
      event.preventDefault();

      const data = new FormData(formGet);
      console.log(data.get("id"));
      const getlink = document.getElementById("get");
      getlink.href = baseURL + data.get("id");
      getlink.innerHTML = baseURL + data.get("id");
    };

    //fetch
    const api = baseURL;

    async function getback(url) {
      try {
        const req = await fetch(url);
        const res = await req.json();
        console.table(res);
        show(res);
      } catch (err) {
        console.log(err);
      }
    }

    getback(api);

    function show(dados) {
      const tableHead = document.querySelector("thead");
      const tableBody = document.querySelector("tbody");

      const headers = ["name", "pro", "id"];

      document
        .querySelector(".container")
        .insertAdjacentHTML(
          "afterend",
          `<table><tr><th>${dados
            .map((dados) => Object.values(dados.name).join(""))
            .join("<tr><td>")}</table>`
        );
      document.getElementById("id").innerHTML = dados
        .map((ele) => `<ul><li>${ele.name} - ${ele.id}</li></ul>`)
        .join("");
    }
  </script>
</html>
