<!DOCTYPE html>
<html
  lang="en"
  style="color-scheme: dark">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <title>Express API</title>
    <link rel="stylesheet" href="/public/style.css">
  </head>
  <body>
    <header>
      <h2><%= info %></h2>
     
    </header>
    <p>
      check console.log after click
      <button onclick="tryFetchLocalHost()">try fetch posts by localhost url</button>
    </p>

    BASEURL:
    <a
      id="base"
      target="_blank"></a>
    <h2>POST</h2>
    <form
      id="mform"
      method="POST">
      <input
        name="name"
        type="text"
        placeholder="produto" />
      <input
        name="price"
        type="number"
        placeholder="price" />
      <input
        type="submit"
        value="Send" />
    </form>

    <hr />

    <h2>Delete</h2>
    <form
      id="mformdel"
      method="DELETE">
      <input
        name="id"
        type="text"
        placeholder="id" />
      <input
        type="submit"
        value="Send" />
    </form>

    <hr />

    <h2>PUT</h2>
    <form id="mformPU">
      <input
        name="id"
        type="text"
        placeholder="id" />
      <input
        name="name"
        type="text"
        placeholder="produto" />
      <input
        name="price"
        type="number"
        placeholder="price" />
      <input
        type="submit"
        value="Send" />
    </form>

    <h2>PUT item:</h2>
    <form
      action="GET"
      id="getSingle">
      <input
        type="text"
        name="itemid"
        placeholder="enter id product" />
      <input
        type="submit"
        value="Get Item" />
    </form>

    <fieldset>
      <legend>Edit Item:</legend>
      <form
        action="PUT"
        id="putSingle">
        <input
          type="text"
          id="itemName" />
        <input
          type="text"
          id="itemPrice" />
        <input
          type="submit"
          value="Save" />
      </form>
    </fieldset>

    <hr />
    <h2>GET</h2>
    <form id="mformGet">
      <input
        name="id"
        type="text"
        placeholder="id" />
      <input
        type="submit"
        value="Send" />
    </form>
    <a
      href=""
      id="get"
      target="_blank"></a>

    <hr />
    <h2>e.g fetch content from Node Server</h2>
    <div id="root"></div>

    <div class="container"></div>
    <div id="id"></div>
  </body>
  <script src="./public/main.js"></script>
</html>
