<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <table>
      <thread></thread>
      <tbody></tbody>
    </table>

    <ul>
      <li>fetch data.json froom Node Server appex.js</li>
      <li>sample node server routers server.js</li>
      <p>
        use <code>request.http</code> to <code>get,post,put,delete</code> data
      </p>
    </ul>

    <p>Geraldo Filho</p>
    <h2>Post method to NodeServer</h2>
    <form id="mform">
      <input name="name" type="text" placeholder="produto" />
      <input name="price" type="number" placeholder="price" />
      <input type="submit" value="Send" />
    </form>
    <a href="./a.html">aaa</a>
  </body>
  <script>
    /*  fetch("http://127.0.0.1:3001/products", { mode: "cors" })
      .then(function (response) {
        response.json().then(function (data) {
            console.table(data);
        });
      })
      .catch(function (err) {
        console.error("Failed retrieving information", err);
      }); */
    const form = document.querySelector("#mform");

    form.onsubmit = function (event) {
      event.preventDefault();
      const ajaxn = new XMLHttpRequest();
      const data = new FormData(form);
      data.append("referer", "https://example.com");
      ajaxn.open("POST", "expressjsonrocket.onrender.com/products");
      ajaxn.setRequestHeader("content-Type", "application/json");
      var json = JSON.stringify(Object.fromEntries(data));
      ajaxn.send(json);
    };
  </script>
</html>
