<!DOCTYPE html>
<html lang="en" style="color-scheme:dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/style.css">
  <title>Login</title>
</head>
<body>
  <header>
    <nav>
      <a href="/">Home Page</a>
    </nav>
  </header>
  <h1>Login</h1>
 <fieldset>
  <legend></legend>
  <form method="POST" action="/login" id="loginForm">
    <input type="text" name="user" value="geraldo" placeholder="name">
    <input type="password" name="pwd" value="123" placeholder="pwd">
    <button>Login</button>
    <p id="errorMessage"></p>
  </form>
 </fieldset>
  <script src="./js/login.js"></script>
</body>
</html>