<!DOCTYPE html>
<html lang="en" style="color-scheme:dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New document</title>
</head>
<body>
 

    <p>Product ID: <%= product?.id %> </p>
    <p>Product NAME:  <%= product?.name %> </p>


    <h2>===</h2>

    <% const {id, name} = product %>

    <p>Product ID: <%= id %> </p>
    <p>Product NAME:  <%= name %> </p>

  
</body>
</html>