<!DOCTYPE html>
<html
  lang="en"
  style="color-scheme: dark">
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
      <link
      rel="stylesheet"
      href="../../css/single.css" />
      <title> <%= product.name %></title>
  </head>
  <body>
   <main class="single">
    <h1>Single Page Template</h1>
    <div class="single login">
      <% if (!auth) { %> 
        <p>Fazer login:<a href="/login">Login</a></p>
        <%   }  %> 
    </div>

    <p>Product: <%= product.name %> </p>
    <p>Price: <%= product.price %> </p>
    <button>Buy</button>
   </main>

    <script></script>
  </body>
</html>
