/* Define color variables */
:root {
  --primary-color: #007bff; /* Primary color */
  --secondary-color: #6c757d; /* Secondary color */
  --success-color: #28a745; /* Success color */
  --danger-color: #dc3545; /* Danger color */
  --warning-color: #ffc107; /* Warning color */
}


*{
  color-scheme: dark;
  box-sizing: border-box;
}

/*  General */
header, nav, html, body{
  margin: 0;
}

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
  text-align: center;
}

input, button{
  border: 1px solid #fff;
  padding: .5rem;
}

input{
  margin-block: 10px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  border: none;
  /* border-radius: 5px; */
  cursor: pointer;
}

.button.primary{
  background-color: var(--primary-color);
}
.button.secondary{
  background-color: var(--secondary-color);
}
.button.success{
  background-color: var(--success-color);
}
.button.warning{
  background-color: var(--warning-color);
}
.button.danger{
  background-color: var(--danger-color);
}

.button:hover {
  background-color: #0056b3;
}


/* Navbar */

.nav{
  padding: 1rem;
  background: #333;
  margin-bottom: 1rem;
 & a{
  color: #fff;
 }
}

.topmenu{
  display: flex;
  justify-content: space-around;
  max-width: 400px;
}

/* Home Page */

#singleid{
  cursor: pointer;
  &:hover{
    color: seagreen;
  }
}

#productsCards{
  display: flex;
  flex-wrap: wrap;
  margin: 2rem auto;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.card{
  background-color: #333;
  color: #fff;
  padding: 0.5rem;
  max-width: 350px;
  width: 100%;
  margin-block: 5px;
 
}

.card #singleid{
  font-size: small;
}

.card {
  margin: 5px;
}

.card a {
  color: #2a95ff;
  text-decoration: none;
  &:hover{
    color: blue;
    transition: 500ms;
  }
}

/* Login */
#errorMessage{
  display: none;
}

.single.login{
  background-color: #333;
  padding: 1rem;
}

.page404{
  text-align: center;
}

/* Dashboard */

.dashboard{
  max-width: 800px;
  margin: 0 auto;
}

main{
  padding: 1rem;
}


#listall div{
  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    padding: .5rem;
    margin: .2rem;
    background-color: #333;
    align-items: center;
    & .buttons {
      display: flex;
      color: rebeccapurple;
      align-items: center;
      justify-content: space-between;
    }
    /* mobile */
    @media (max-width: 560px){
      grid-template-columns: 1fr;
    }
}




/* Edit Post */

#mformPU, #mform {
  display: flex;
  max-width: 500px;
 
  flex-direction: column;
  & div{

  }
  & input:not(input[type="checkbox"]) {
    width: 100%;
  }
}

/* Create Post */